:root {
  /* включает цвет логотипа */
  --link-active-color: #2196f3;

  --logo-second-color: #000000;
  --logo-secondfooter-color: #ffffff;
  /* остальніе переменніе цвета */

  --head-back-color: #ffffff;
  --head-nav-color: #212121;
  --head-mailtel-color: #757575;
  --footer-back-color: #2f303a;
  --adress-footer-color: #ffffff;
  --footer-MailTel-color: rgba(255, 255, 255, 0.6);
  --main-HEroback-color: #2f303a;
  --main-HeroText-color: #ffffff;
  --main-HeroButtonText-color: #ffffff;
  --main-HeroButtonBack-color: rgba(33, 150, 243, 1);
  --main-ButtonActive-color: rgb(13, 15, 17);
  --main-Section1and2Back-color: #ffffff;
  --H2-H3-Text-color: #212121;
  --portfolio-Button_color: #212121;
  --portfolio-ButtonActive-color: #ffffff;
  --portfolio-BattonBack-color: rgba(33, 150, 243, 1);
  --P-Text-color: #757575;
  --Main-Section3Back-color: #f5f4fa;
}

/* основные настрйки */
body {
  font-family: "roboto", "raleway", "sans-serif";
  color: red;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0px;
  padding-left: 0px;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0px 94px 0px;
}
img {
  display: block;
}

.links {
  text-decoration: none;
}
.ulstyle {
  list-style: none;
  display: flex;
}

/* Голова----------------- */

.head {
  background-color: var(--head-back-color);
  border-bottom: 1px solid #ECECEC;

}
header .container {
  display: flex;
  align-items: center;
}



.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-active-color);
  padding: 24px 0 25px 0px;
  margin-right: 93px;
}

.logo2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
}
.logonavflex {
  display: flex;
}

.TextNAV {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--head-nav-color);
}
.TextNAV:hover {
  color: var(--link-active-color);
}
.studioP {
  width: 42px;
  height: 16px;
  left: 453px;
  top: 32px;
  margin-right: 50px;
}
.portfolioP {
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;
  margin-right: 50px;
}
.contactsP {
  width: 59px;
  height: 16px;
  left: 653px;
  top: 32px;
  margin-right: 385px;
}

.mit {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--head-mailtel-color);
}
.mit:hover {
  color: var(--link-active-color);
}
.mailmargin {
  margin-right: 40px;
}

.line {
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;
  position: absolute;
  border: 1px solid #ececec;
}

/* Ноги ----------------------*/

.foot {
  background-color: var(--footer-back-color);
}

.ulstyle2 {
  list-style: none;
}

.logodown {
  margin-bottom: 28px;
  padding: 60px 0 0 0px;
}

.logo3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-secondfooter-color);
}

.Adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-footer-color);
  margin-bottom: 12px;
}
.Adress:hover {
  color: var(--link-active-color);
}

.MiT {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-MailTel-color);
}
.MiT:hover {
  color: var(--link-active-color);
}
.teldown {
  padding-bottom: 60px;
}

/* Майн веб--------------------------- */

.WS0 {
  background: var(--main-HEroback-color);
}

.HERO {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-HeroButtonText-color);
  padding: 106px 252px 0 252px;
}
.Hbutton {
  margin: 30px 485px 106px 485px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-HeroText-color);
  background-color: var(--main-HeroButtonBack-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.Hbutton:hover,
.Hbutton:focus {
  color: var(--main-ButtonActive-color);
}

/* section1------------------------- */
/* WS1h3 - Webstudio Section 1 H3 */
/* WS1P -wEBSTUDIO Section 1 P */

.WS1 {
  background-color: var(--main-Section1and2Back-color);
}

.WS1h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--H2-H3-Text-color);
  margin-bottom: 10px;
}

.WW {
  margin-right: 30px;
}
.LL {
  margin-left: auto;
}

.WS1P {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--P-Text-color);
}

/* section 2 -------------------------*/
.WS2 {
  background-color: var(--main-Section1and2Back-color);
}

.WS2h2 {
  padding: 0 486px 0 486px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--H2-H3-Text-color);
  margin-bottom: 50px;
  padding: 0 485px 0 485px;
}

/* section 3------------------------------ */
/* WS3h2 - Webstudio section 3 h3 */
/* WS3h3 - Webstudio section 3 h3 */
/* WS3p Webstudio section 3 p*/

.WS3 {
  background-color: var(--Main-Section3Back-color);
}

.WS3h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--H2-H3-Text-color);
  margin-bottom: 50px;
  padding: 0 502px 0 502px;
}

.imgworkers {
  border-radius: 0px;
}

.WS3h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--H2-H3-Text-color);
  margin-bottom: 10px;
}

.WS3p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--P-Text-color);
  padding-bottom: 30px;
}
.namesborder {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
}

/* SEction 4-------------------- */
.WS4
.WS4h2 {
  font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--H2-H3-Text-color);

}

/*Portfolio  ------------------------------------*/

.btnP {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.btnP:hover,
.btnP:focus {
  color: var(--portfolio-ButtonActive-color);
  background-color: var(--portfolio-BattonBack-color);
}
.b1 {
  margin: 0 794px 0 327px;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 8px;
}
.b2 {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 8px;
  padding: 6px 22px;
}
.b3 {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
}

.words5 {
  margin-bottom: 53px;
}

/* section 2-----------------------------------------*/

.PS2 {
  background-color: var(--main-Section1and2Back-color);
}

.ulstyle3 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.imgtext {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px;
}

.img1 {
  margin-bottom: 30px;
  margin-right: 30px;
}
.img2 {
  margin-right: 30px;
}

.PS2h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--H2-H3-Text-color);
}

.PS2p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--P-Text-color);
}
